<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <title><%= config.title %></title>
  <%- css('css/style.css') %>
<!-- <style type="text/css">
  .gutter pre{
    background:#23241f !important;
    color: #75715e !important;
  }
  .code, .gutter{
    padding: unset !important;
    border: none !important;
  }
  .code pre,.gutter pre{
    border-radius: unset !important;
    /*padding: unset !important;*/
  }
  .code pre{
    padding-left: unset !important;
    padding-right: unset !important;
    background:#23241f !important;
  }
  .highlight{
    margin-left: unset !important;
    margin-right: unset !important;
    background:#23241f !important;
  }
</style>
  <%- css('https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/2.10.0/github-markdown.css') %>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.13.1/build/styles/monokai-sublime.min.css">
      <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.13.1/build/highlight.min.js"></script> -->
  <!-- <style>
  .markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 45px;
  }

  @media (max-width: 767px) {
    .markdown-body {
      padding: 15px;
    }
  }
</style> -->
</head>